@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sistema WEB de modelo y simulación<br />
    Ecuador Manta, ULEAM<br />
    <p>Phone: <a href="tel:+593992612856">(+593)992612856</a></p>

</address>

<address>
    <strong>Correo Personal:</strong>   <a href="mailto:Support@example.com">chen.te.92@hotmail.com</a><br />
    <strong>Correo Universitario:</strong> <a href="mailto:Marketing@example.com">vicente.zambranoen@live.uleam.edu.ec</a>
</address>