@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modelos y simulación</h1>
    <p class="lead">Sistema web para la solución de Modelos de Simulación con números aleatorios.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>



<div class="row">
    <div class="col-md-6">
        
        <h2>FACCI</h2>
        <div align="center">
            <img src="/Content/Images/facci.jpg" width="150" >
        </div>
          
            <p ><a class="btn btn-default" href="http://www.facci.uleam.edu.ec/">Sitio Web &raquo;</a></p>
        </div>
    <div class="col-md-6" >
        <h2>ULEAM</h2>
        <div align="center" >
            <img src="/Content/Images/uleam.jpg" width="95">
         </div>
            <p ><a class="btn btn-default" href="http://www.uleam.edu.ec/">Sitio Web &raquo;</a></p>
        </div>
    <script>
        function ordenar()
        {
            $("li[class^='test']").each(
                function (index, element)
                {
                    alert($(this).text());
                }
                );
        }
    </script>


</div>